gpt_env/
__pycache__/
*.pyc

credentials.json
credentials_bkp.json
oauth_client.json
token.json
client_secret*.json

Photos/
Other_Files/

!assets/
!assets/Main_Page_Logo.jpg

*.csv
*.sql
*.html

* - Copy.py
*_db.py
*_ruf.txt
*.sql

family_graph.html
Family_tree_v2_Patterns_From_Google_Sheet.py
Family_tree_without_patterns.py
test_google_sheet_conn.py
Family_tree_py_patterns.py

.streamlit/secrets.toml